name: Build Image using Containerfile

on:
  push:
    branches:
      - main
  # push:
  #   tags:
  #     - "*"

jobs:
  build-and-publish:
    uses: ContentMess/cms-workflows/.github/workflows/publish-image.yaml@main
    with:
      image_name: cms-image-service
      containerfile_path: api.Dockerfile
      tags: latest ${{ github.ref_name }}
  deploy:
    runs-on: ubuntu-latest
    needs: build-and-publish
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Helm
        uses: azure/setup-helm@v4

      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

      - name: Save kubeconfig
        run: doctl kubernetes cluster kubeconfig save content-mess

      - name: Deploy Helm chart
        run: |
          helm upgrade --install cms-image-service oci://ghcr.io/contentmess/cms-image-service-chart \
            --set configuration.connectionStrings.mongoDb=${{ secrets.PRODUCTION_CONNECTION_STRING_MONGODB }} \
            --set configuration.externalStorage.s3ObjectStorage.accessKey=${{ secrets.PRODUCTION_S3_ACCESS_KEY }} \
            --set configuration.externalStorage.s3ObjectStorage.secretKey=${{ secrets.PRODUCTION_S3_SECRET_KEY }} \
            --set configuration.externalStorage.s3ObjectStorage.serviceUrl=${{ secrets.PRODUCTION_S3_SERVICE_URL }} \
            --set configuration.otel.exporterOtlpEndpoint=http://otel-collector-opentelemetry-collector:4317 \
            --set configuration.environment=production \
            --set spec.template.spec.image=ghcr.io/contentmess/cms-image-service:${{ github.ref_name }}
            --set metadata.namespace=cms \
            --set spec.replicas=1 \
            --namespace cms \
            --create-namespace \
            --timeout 10m \
            --wait
